.calculator{
    border: 1px solid rgba(0, 0, 0, 0.849);border-radius: 5px;
    width: 200px;
}

.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#display{
   margin: 10px;
   width: 85%; 
   font-size: 25px ;
}
.button{
    width:45px;
    height: 45px;
    margin: 4px;
}